@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

/* Обнуление */
*,
*::before,
*::after {
   padding: 0;
   margin: 0;
   border: 0;
   box-sizing: border-box;
}

a {
   text-decoration: none;
   color: inherit;
}

ul,
ol,
li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: inherit;
   font-size: inherit;
}

html,
body {
   height: 100%;
   line-height: 1;
   color: #9C9C9C;
   font-family: 'Poppins', sans-serif;
   font-weight: 300;
}


/* ______________________ */

.wrapper {
   min-height: 100%;
   overflow: clip;
   display: flex;
   flex-direction: column;
   background-color: #0D0D11;
}

[class*="_container"] {
   max-width: 1310px;
   margin: 0 auto;
   padding: 0 15px;
}

/* Some Default Styles (Buttons) */

.button {
   cursor: pointer;
   display: inline-block;
   border-radius: 50px;
   background: #3D96F4;

   padding: 15px 29.5px;
   color: #FFF;
   text-align: center;
   font-size: 14px;
   font-weight: 500;
   line-height: 1.6;
   letter-spacing: 2px;
}

.button:hover {
   animation: glow 2s infinite;
}

@keyframes glow {
   0% {
      box-shadow: 0 0 20px rgba(129, 129, 139, 0.2);
   }

   50% {
      box-shadow: 0 0 20px rgba(61, 150, 244, 0.8);
   }

   100% {
      box-shadow: 0 0 20px rgba(129, 129, 139, 0.2);
   }
}

.decor {
   position: absolute;
   width: 122px;
   height: 122px;
}

.decor img {
   max-width: 100%;
}


.title {
   color: #FFF;
   font-size: 51.2px;
   font-weight: 500;
   line-height: 1.2;
}

.text {
   font-size: 18px;
   line-height: 1.5;
}

.text p:not(:last-child) {
   margin: 0 0 15px 0;
}


.border-button {
   display: inline-block;

   border-radius: 12px;
   border: 1px solid rgba(129, 129, 139, 0.20);

   font-size: 10.8px;
   font-weight: 300;
   line-height: 1.6;
   letter-spacing: 2px;
   text-transform: uppercase;
   transition: border 0.2s ease-in-out;
}

.border-button:hover {
   border: 1px solid rgba(129, 129, 139, 0.40);
}


.content {
   flex: 0 1 60%;
   margin: 0 0 64px 0;
}

.link {
   flex: 0 1 40%;
   align-self: flex-end;
   display: flex;
   justify-content: flex-end;
   margin: 0 0 64px 0;
}

@media (max-width: 575.98px) {
   
   .content {
         margin: 0 0 20px 0;
      }

   .link {
      flex: 1 1 100%;
      align-self: stretch;
      margin: 0px 0px 30px;
   }
}





/* HEADER */


.header {
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 50;
   background: rgba(13, 13, 17, 0.4);
}

.header__container {
   min-height: 116px;
   display: flex;
   align-items: center;

}

.header__logo {
   padding: 0 15px 0 0;
}

.header__nav {
   flex: 1 1 auto;
}

.nav-header {
   animation: burgerAnimation 0.4s;
}

.nav-header__list {
   padding: 5px 0;
   display: flex;
   justify-content: flex-end;
   flex-wrap: wrap;
}

.nav-header__item {
   
}

.nav-header__item:not(:last-child) {
   margin: 0 35px 0 0;
}

.nav-header__item:last-child {
   margin: 0 27px 0 0;
}

.nav-header__link, .cart-header {
   color: #FFF;
   line-height: 1.6;
   transition: all .4s ease-out;
}

.nav-header__link:hover, .cart-header:hover {
   color: #3D96F4;
}


.header__cart {
   display: flex;
}

.cart-header {
   font-size: 17.6px;
   letter-spacing: 0.96px;
   align-items: center;
}

.cart-header__text {
   margin: 0 15px 0 0;

}

.cart-header__quantity {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0 10px;
   width: 30px;
   height: 30px;
   border-radius: 30px;
   background: rgba(129, 129, 139, 0.30);

   font-size: 14px;
   font-weight: 500;
   line-height: 1;
   letter-spacing: 0.96px;
}

.header__button {
   align-items: center;
   margin: 0 0 0 32px;
   transition: 0.6s cubic-bezier(0.01, 1.69, 0.99, 0.94);
}

.header__button span {
   transition: 0.15s;
}

.header__button:hover {
   animation: glow 1.5s infinite;
}

.header__button:hover span {
   color: #0f0;
   text-shadow: 0 0 5px #0f0, 0 0 15px #0f0, 0 0 30px #0f0;
}

.header__button:active {
   transform: scale(1.015);
}


/*HEADER - BURGER */

 .header__burger {
   margin: 0 0 0 15px;
   display: none;
   position: relative;
   z-index: 50;
   align-items: center;
   justify-content: flex-end;
   width: 30px;
   height: 18px;
 }

.header__burger span {
   height: 2px;
   width: 100%;
   transform: scale(1);
   background-color: #FFF;
}

.header__burger::before, .header__burger::after {
   content: '';
   position: absolute;
   height: 2px;
   width: 100%;
   background-color: #FFF;
   transition: all 0.3s ease 0s;
}

.header__burger::before {
   top: 0;
}

.header__burger::after {
   bottom: 0;
}

.header__burger.active span {
   transform: scale(0);
}

.header__burger.active::before {
   top: 50%;
   transform: translateY(-50%);
   transform: rotate(45deg);
}

.header__burger.active::after {
   top: 50%;
   transform: translateY(-50%);
   transform: rotate(-45deg);
}

.open {
   display: flex !important;
}

@media (max-width: 991.98px)  {
   .header__container {
      justify-content: space-between;
   }

   .nav-header__item:not(:last-child) {
      margin: 0 25px 0 0; 
   }
   .nav-header__link {
      font-size: 18px;
   }
   .header__button { 
      margin: 0 0 0 8px;
      padding: 15px 25px;
   }
}

@media (max-width: 767.98px) {
   .header__container {
      min-height: 90px;
   }
   
   .header__burger {
      display: flex;
   }

   .header__logo,
   .header__cart,
   .header__button {
      position: relative;
      z-index: 51;
      }
 
   .header__nav {
      display: none;
      flex-direction: column;
      position: fixed;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 50;
      overflow-y: auto;
      padding: 50px 40px;
      background-color: black;
   }

   .header__nav::before {
      content: "";
      position: fixed;
      width: 100%;
      height: 116px;
      top: 0;
      left: 0;
      background-color: #0D0D11;
      z-index: 50;
   }

   .nav-header__list {
      padding: 100px 0;
      flex-direction: column;
      row-gap: 35px;
      font-size: 24px;
   }

   .nav-header__link {
      font-size: 24px;
   }

}


@media (max-width: 575.98px) {
.header__cart {
   flex-direction: column-reverse;
   align-items: center;
}

.cart-header {
   font-size: 17.6px; 
}

.cart-header__text {
   margin: 0;
}

.header__button {
   margin: 0;
}

.header__logo {
   flex: 0 0 42px;
   width: 42px;
   overflow: hidden;
}

.button {
   padding: 19px 20.5px;
}

.header__burger {
   margin: 0;
}

}

@keyframes burgerAnimation {
   from {left: -100%;}
   to {left: 0;}
}

/* PAGE */

.page {}


/* MAIN */

.page__main {}

.main {
   padding: 160px 0 96px 0;
}

.main__container {
   display: flex;
}

.main__content {
   flex: 0 1 50%;
   align-self: center;
   padding: 0 130px 0 0;
   position: relative;
}

.main__title {
   position: relative;

}

.main__title-decor {
   top: -21px;
   left: -31.5px;
}

.main__title:not(:last-child) {
   margin: 0 0 28px 0;
}

.main__text {
   max-width: 500px;
}

.main__text:not(:last-child) {
   margin: 0 0 33px 0;
}

.main__links {
   display: inline-flex;
   column-gap: 32px;
}

.main__services {
   padding: 15px 25px;
   transition: 1s;
}

.main__contact {
   background: rgba(129, 129, 139, 0.2);
   transition: 1s;
   padding: 15px 31.5px;
}



.main__pictures {
   padding: 0 0 0 16px;
   flex: 0 1 50%;
   display: flex;
   justify-content: center;
   column-gap: 59px;
}

.main__column {
   flex: 0 1 auto;
   display: flex;
   flex-direction: column;
   row-gap: 32px;
}

.main__item {
   overflow: hidden;
}

.main__item_1, .main__item_4 {   
   border-radius: 50% / 29%;
}

.main__item_2 {
   border-radius: 50% 50% 0 50%;
}

.main__item_3 {
   border-radius: 50% 0 50% 50%;
}

.main__item img {
   max-width: 100%;
}

@media (max-width: 991.98px) {
   .main {
      padding: 140px 0 46px 0;
   }

   .main__content {
      padding: 0; 
   }

   .title { 
      font-size: 41.2px;
   }

}

@media (max-width: 767.98px) {
   .main__container {
      flex-direction: column;
      }

   .main__content {
      padding: 0 0 25px 0;
   }
   .main__column {
      row-gap: 20px;
   }
}

@media (max-width: 575.98px) {
   .main {
         padding: 140px 0 26px 0;
      }

   .main__text:not(:last-child) {
      margin: 0px 0px 20px;
   }

   .main__links {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
   }

   .main__links >* {
      flex: 1 1 100%;
   }
}

/* ENTERPRISES */

.enterprises {
   padding: 96px 0 72px 0;
}

.enterprises__container {}

.enterprises__title {
   margin: 0 0 25px 0;
   color: #FFF;
   text-align: center;
   font-size: 14px;
   line-height: 1.6;
   letter-spacing: 1px;
   text-transform: uppercase;
}

.enterprises__body {}

.enterprises__swiper {}

.swiper-enterprises {}

.swiper-enterprises__wrapper {}

.swiper-enterprises__slide {}

.swiper-enterprises__slide.swiper-slide-active {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   flex-wrap: wrap;
}

.slide-swiper__brand img {
   max-width: 100%;
}

.swiper-enterprises__slide {}

.slide-swiper {}

@media (max-width: 991.98px) {
.enterprises {
      padding: 40px 0;
   }
}

@media (max-width: 575.98px) {
   .enterprises {
         padding: 30px 0;
      }
}

/* SERVICES */

.services { 
   padding: 72px 0 96px 0;
}

.services__container {
   display: flex;
}

.services__content {
   flex: 0 1 50%;
   align-self: center;
   padding: 0 135px 0 0;
}

.services__category {}

.services__category:not(:last-child) {
   margin: 0 0 19px 0;
}

.services__services  {
   padding: 9px 17.8px;
}



.services__title {}

.services__title:not(:last-child) {
   margin: 0 0 12px 0;
}

.services__text {
}

.services__text:not(:last-child) {
   margin: 0 0 33px 0;
}

.services__link {}



.services__offers {
   flex: 0 1 50%;
}

.offers-services {}

.offers-services__body {
   display: flex;
   gap: 32px;
}

.offers-services__column {
   flex: 0 1 50%;
   display: flex;
   flex-direction: column;
   gap: 32px;
}

.offers-services__column:first-child {
   padding: 48px 0 0 0;
}

.offers-services__item {
   padding: 55px 25px 57px;
   border-radius: 30px;
   background: rgba(129, 129, 139, 0.10);
}

.item {}

.item__icon {
}

.item__icon:not(:last-child) {
   margin: 0 0 16px 0;
}

.item__title {
   color: #FFF;
   font-size: 19.2px;
   font-weight: 400;
   line-height: 1.4;
}

.item__title:not(:last-child) {
   margin: 0 0 10px 0;
}

.item__text {
   color: #81818B;
   font-size: 16px;
   line-height: 1.5;
}

.item__text p:not(:last-child) {
   margin: 0 0 10px 0;
}

@media (max-width: 1023.98px) {
.services__content {
      padding: 0 50px 0 0;
   }

}

@media (max-width: 991.98px) {
   .services {
      padding: 40px 0;
   }
   .services__container {
      flex-direction: column;
   }
   .services__content {
      padding: 0;
}
      
}

@media (max-width: 767.98px) {

}

@media (max-width: 575.98px) {
   .services {
      padding: 30px 0;
   }

   .offers-services__body {
      flex-direction: column;
      gap: 20px;
   }

   .offers-services__item {
      padding: 30px 25px 30px;
   }

   .services__link {
      display: flex;
   }
   .services__button {
      flex: 1 1 100%;
   }
   .offers-services__column { 
      gap: 20px;
   }
}


/* CHOOSE */

.choose {
   padding: 90px 0 95px 0;
}

.choose__container {
   display: flex;
}

.choose__pictures {
   flex: 0 1 50%;
   display: flex;
   justify-content: flex-start;
   align-items: flex-end;
   position: relative;
}

.choose__decor {
   bottom: 0;
   left: -12px;
}

.choose__picture {
   position: relative;
   overflow: hidden;
}

.choose__picture img {
   max-width: 100%;  
}

.choose__picture-first {
   border-radius: 580px 0px 330px 330px;
}

.choose__picture-second {
   align-self: flex-end;
   border-radius: 50% 50% 50% 0;

}


.choose__content {
   padding: 0 0 0 32px;
   flex: 0 1 50%;
   align-self: center;
}

.choose__services {
   padding: 9px 18px;
}

.choose__category:not(:last-child) {
   margin: 0 0 43px 0;
}

.choose__title {}

.choose__title:not(:last-child) {
   margin: 0 0 40px 0;
}

.choose__text {
   max-width: 500px;
}

.choose__text:not(:last-child) {
   margin: 0 0 35px 0;
}

.choose__text p:not(:last-child) {
   margin: 0 0 10px 0;
}

.choose__list {

}

.choose__item {
   line-height: 1.5;
}

.choose__item {
   background: url('/img/choose/check-icon.svg') left no-repeat;
   display: flex;
   padding: 0 0 0 42px;
   align-items: center;
   min-height: 32px;
}


.choose__item:not(:last-child) {
   margin: 0 0 20px 0;
}


@media (max-width: 991.98px) {
   .choose {
      padding: 40px 0;
   }

}

@media (max-width: 767.98px) {
   .choose__container {
         flex-direction: column-reverse;
      }
   
   .choose__content {
      padding: 0;
      margin: 0 0 20px 0;
   }
}

@media (max-width: 575.98px) {
   .choose {
      padding: 30px 0;
   }
}

/* COUNTER */

.counter {
   padding: 95px 0 96px 0;
}

.counter__container {
   display: flex;
   justify-content: space-between;
   gap: 32px;
}

.counter__columns {
   flex: 1 1 auto;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(2, 1fr);
   gap: 32px;
}

.item-counter {
   padding: 40px;
   border-radius: 30px;
   background: rgba(129, 129, 139, 0.10);
}

.item-counter__count {
   color: #FFF;
   font-size: 51.2px;
   font-weight: 500;
   line-height: 1.2;
}

.item-counter__count:not(:last-child) {
   margin: 0 0 32px 0;
}

.item-counter__text {
   font-size: 18px;
   line-height: 1.5;
}

.item-counter__text p:not(:last-child) {
   margin: 0 0 10px 0;
}

.counter__picture {
   flex: 0 0 38%;
   align-self: center;
}

.counter__image {
   overflow: hidden;
   border-radius: 0px 56% 50% 50% / 0px 56% 45% 45%;
}

.counter__image img {
   max-width: 100%;

}

@media (max-width: 991.98px) {
   .counter {
      padding: 40px 0;
   }

   .counter__container {
      flex-direction: column;
   }

   .counter__picture {
      align-self: center;
   }
}

@media (max-width: 767.98px) {
}

@media (max-width: 575.98px) {
   .counter {
      padding: 30px 0;
   }

   .counter__columns {
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
   }
   .item-counter {
      padding: 25px;
   }

   .item-counter__count {
      font-size: 41.2px;
   }

   .item-counter__count:not(:last-child) {
      margin: 0 0 22px 0;
   }
}

/* GET IN TOUCH */

.get-in-touch {
   padding: 96px 0 32px 0;
}

.get-in-touch__container {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}


.get-in-touch__category:not(:last-child) {
   margin: 0 0 19px 0;
}

.get-in-touch__services {
   padding: 9px 18px;
}

.get-in-touch__title:not(:last-child) {
   margin: 0 0 12px 0;
}



.get-in-touch__button {
   padding: 15px 25.5px;
}


.get-in-touch__columns {
   flex: 1 1 100%;
   display: flex;
   gap: 48px;
}


.get-in-touch__client {
   flex: 0 1 33.333%;

}

.client {
   height: 100%;
   padding: 64px 40px;
   border-radius: 30px;
   background: rgba(129, 129, 139, 0.10);
   display: flex;
   flex-direction: column;
}

.client >*:not(:last-child) {
   margin: 0 0 34px 0;

}

.client__name-block {
   display: flex;
   align-items: center;
}

.client__icon {
   flex: 0 0 68px;
   overflow: hidden;
}

.client__icon-1 {
   border-radius: 0px 50% 50% 50% / 0px 50% 50% 50%;
}

.client__icon-2 {
   border-radius: 50% 0 50% 50% / 50% 0 50% 50%;
}

.client__icon-3 {
   border-radius: 50% 50% 0 50% / 50% 50% 0 50%;
}

.client__icon img {
   max-width: 100%;
}

.client__body {
   padding: 0 0 0 16px;
}

.client-item__name {
   color: #FFF;
   line-height: 1.5;
}

.client-item__name:not(:last-child) {
   margin: 0 0 7px 0;
}

.client-item__company {
   font-size: 14px;
   line-height: 1.6;
}


.item-clients__title {
   color: #FFF;
   font-size: 32px;
   font-weight: 400;
   line-height: 1.4;
}

.item-clients__text {
   flex: 1 1 auto;
   line-height: 1.5;
}

.item-clients__text p:not(:last-child) {
   margin: 0 0 15px 0;
}


.rating-clients {
   display: flex;
   align-items: flex-end;
   font-size: 20px;
   letter-spacing: 5px;
   line-height: 1;
}

.rating-clients__body {
   position: relative;
}

.rating-clients__body::before {
   display: block;
   content: '★★★★★';
}

.rating-clients__active {
   position: absolute;
   width: 0%;
   height: 100%;
   top: 0;
   left: 0;
   overflow: hidden;
}

.rating-clients__active::before {
   content: '★★★★★';
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   color: rgba(255, 197, 79, 1);
}

.rating-clients__items {
   display: flex;
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
}

.rating-clients__item {
   flex: 0 0 20%;
   height: 100%;
   opacity: 0;
}

.rating-clients__value {
   letter-spacing: 0;
   font-size: 70%;
   padding: 0 0 0 5px;
   opacity: 0;
}




@media (max-width: 1050px) {
   .get-in-touch__columns {
      flex-direction: column;
      gap: 30px;
   }

   .client {
      padding: 40px 30px;
   }
}


@media (max-width: 991.98px) {
   .get-in-touch {
      padding: 40px 0;
   }

   .get-in-touch__columns {
      flex: 1 1 100%;
      display: flex;
   }

}

@media (max-width: 767.98px) {
   .client {
      padding: 30px;
   }

   .client>*:not(:last-child) {
      margin: 0px 0 25px 0;
   }
}

@media (max-width: 575.98px) {
   .get-in-touch {
      padding: 30px 0;
   }

   .get-in-touch__container {
      flex-direction: column;
   }

   .get-in-touch__button {
      flex: 1 1 100%;
   }

   .client>*:not(:last-child) {
      margin: 0 0 15px 0;
   }
}

/* POSTS */

.posts {
   padding:  96px 0;
}

.posts__container {
   display: flex;
   flex-wrap: wrap;

}

.posts__content {}

.posts__category:not(:last-child) {
   margin: 0 0 19px 0;
}

.posts__services {
   padding: 9px 17.7px;
}

.border-button {}

.posts__title:not(:last-child) {
   margin: 0 0 12px 0;
}


.posts__text {}


.posts__link {}

.posts__button {
   padding: 15px 42px;
}



.posts__columns {
   flex: 1 1 100%;
   display: flex;
   gap: 48px;
}

.posts__post {
 
}

.post {
   position: relative;
   flex: 0 1 33.333%;
   border-radius: 24px;
   background: rgba(129, 129, 139, 0.10);
   height: 100%;
   display: flex;
   flex-direction: column;
   overflow: hidden;
}


.post__header {
   position: relative;
   overflow: hidden;
}

.post__category {
   position: absolute;
   bottom: 0;
   left: 0;
   color: #FFF;
   font-size: 14px;
   line-height: 1.6;   

   border-radius: 0px 10px 0px 0px;
   background: rgba(129, 129, 139, 0.50);
   padding: 10px;
}

.post__picture {
   display: block;
   position: relative;
   padding: 0 0 49.23% 0;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   transition: all .6s ease-out;
}

.post .post__picture:hover {
   transform: scale(1.05);
}

.post__picture img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.post__content {
   padding: 26px;
   flex: 1 1 auto;
   display: flex;
   flex-direction: column;
}

.post__date {
   color: rgba(129, 129, 139, 0.90);
   line-height: 1.5;
}

.post__date:not(:last-child) {
   margin: 0 0 20px 0;
}

.post__title {
   color: #FFF;
   font-size: 19.2px;
   font-weight: 400;
   line-height: 1.4;
   transition: 0.4s ease-out;
}

.post__title:not(:last-child) {
   margin: 0 0 30px 0;
}

.post__text {
   line-height: 1.5;
   flex: 1 1 auto;
}

.post__text:not(:last-child) {
   margin: 0 0 22px 0;
}

.post__text p:not(:last-child) {
   margin: 0 0 15px 0;
}


.post__link {
   color: #3D96F4;
   font-size: 14px;
   line-height: 1.6;
   transition:  all .4s ease-out;
}

.post__title:hover,
.post__link:hover {
   color: #9C9C9C;
}


@media (max-width: 1050px) {
   .posts__columns {
      gap: 35px;
   }

}

@media (max-width: 991.98px) {
   .posts {
      padding: 40px 0;
   }

   .posts__columns {
      gap: 30px;
   }

}
@media (max-width: 767.98px) {
   .posts__columns {
      flex-direction: column;
   }
   .post__content {
      padding: 15px;
   }
   .post__date:not(:last-child) {
      margin: 0 0 15px 0;
   }

   .post__title:not(:last-child) {
      margin: 0 0 20px 0;
   }

   .post__text:not(:last-child) {
      margin: 0 0 12px 0;
   }
}

@media (max-width: 575.98px) {
   .posts {
      padding: 30px 0;
   }
   .posts__container {
      flex-direction: column;
   }
   .posts__button {
      flex: 1 1 100%;
   }
}

/* CONTACT */

.contact {
   padding: 96px 0;
}

.contact__container {
   padding: 52px 160px;
   border-radius: 30px;
   background: rgba(129, 129, 139, 0.10);
   display: flex;
   justify-content: space-between;
   align-items: center;

}

.contact__header {
   text-align: center;
   max-width: 373px;
}

.contact__title {
   color: #FFF;
   font-size: 32px;
   font-weight: 400;
   line-height: 1.4;
}

.contact__title:not(:last-child) {
   margin: 0 0 16px 0;
}

.contact__text {
   font-size: 16px;
}

.contact__text p:not(:last-child) {
   margin: 0 0 10px 0;
}

.contact__buttons {
   display: flex;
   gap: 32px;
}

.contact__services {
   padding: 15px 25px;
}

.contact__contact {
   background: rgba(129, 129, 139, 0.2);
   padding: 15px 31.5px;
}

@media (max-width: 1050px) {
   .contact__container {
         padding: 52px 110px;
      }
}

@media (max-width: 991.98px) {
   .contact {
      padding: 40px 0;
   }
   .contact__container {
      flex-direction: column;
   }
   .contact__container {
      gap: 50px;
   }

   }

@media (max-width: 767.98px) {
   .contact__buttons {
      flex-direction: column;
      align-self: stretch;
   }
}

@media (max-width: 575.98px) {
   
   .contact {
      padding: 30px 0;
   }
   .contact__container {
      padding: 0 15px;
      gap: 25px;
   }

   .contact__buttons >* {
      flex: 1 1 100%;
   }
}

/* FOOTER */ 

.footer {

}

.top-footer {
   padding: 160px 0 160px 0;
}


.top-footer__container {
   display: grid;
   gap: 68px;
   grid-template-columns: minmax(auto, 379px) auto auto minmax(auto, 376px);
   align-items: flex-start;
}

.top-footer__column {

}

.top-footer__column-1 {
   display: grid;
   gap: 32px;
   padding: 0 32px 0 0;
}

.top-footer__column-4 >*:not(:last-child) {
   margin: 0 0 33px 0;
}

.top-footer__logo {}

.top-footer__text {
   line-height: 1.5;
}

.top-footer__text p:not(:last-child) {
   margin: 0 0 15px 0;
}

.top-footer__links {
   display: inline-flex;
   gap: 16px;
}

.top-footer__link {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 36px;
   border: 1px solid rgba(129, 129, 139, 0.90);
   width: 20px;
   padding: 16px;
   transition: border .3s ease-out;
}

.top-footer__link:hover {
   border: 1px solid rgba(255, 255, 255, 0.6);
}

.top-footer__link img {
   position: absolute;
   max-width: 100%;
}

.top-footer__label {
   color: #FFF;
   font-size: 20px;
   font-weight: 500;
   line-height: 1.2;
   letter-spacing: 1px;
}

.top-footer__label:not(:last-child) {
   margin: 0 0 30px 0;
}

.top-footer__nav {}

.nav-footer {}

.nav-footer__list {
   display: grid;
   gap: 24.3px;
}

.nav-footer__item {

}

.nav-footer__link {
   display: inline-block;
   line-height: 1.6;
   transition: all .4s ease-out;
}

.nav-footer__link:hover {
   transform: translate(10px, 0px);
}

.top-footer__subscribe-form {
   display: flex;
   gap: 16px;
   align-items: center;
}

.top-footer__email {
   background-color: transparent;
   border-radius: 50px;
   border: 1px solid rgba(129, 129, 139, 0.30);
   width: 225px;
   height: 54px;
   padding: 0 33px;

}

.top-footer__email::placeholder {
   font-size: 18px;
   color: #999;
   font-weight: 400;
   line-height: normal;
}

.top-footer__button {
   padding: 15px 28px;
}

.bottom-footer {
   border-top: 1px solid rgba(129, 129, 139, 0.20);
   padding: 46px 0;
}

.bottom-footer__container {
   display: flex;
   justify-content: center;
   align-items: center;
}

.bottom-footer__copy {
   text-align: center;
   font-size: 14px;
   line-height: 1.6;
}


@media (max-width: 1100px) {
   .top-footer__container {
      gap: 20px;
      grid-template-columns: minmax(auto, 279px) auto auto auto;
   }

}

@media (max-width: 991.98px) {
   .top-footer {
      padding: 80px 0;
   }
   .top-footer__container {
      gap: 20px;
      grid-template-columns: auto auto;
   }

   .top-footer__column-1 {
      grid-column: span 2;
   }

   .top-footer__column-4 {
      grid-column: span 2;
   }
}

@media (max-width: 767.98px) {
   .top-footer {
      padding: 60px 0;
   }

   .nav-footer__link:hover {
      transform: none;
      color: #FFF;
   }

}

@media (max-width: 575.98px) {
   .top-footer { 
      padding: 50px 0;
   }
   .top-footer__container {
      gap: 30px;
      grid-template-columns:  auto;
   }
   .top-footer__subscribe-form {
      flex-direction: column;
      align-items: stretch;
   }
   .top-footer__email {
      width: 100%;
   }
}
